RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_DEFAULT_VHOST=minirag_vhost


# Management Plugin
RABBITMQ_MANAGEMENT_ENABLED=true


# Security Settings
RABBITMQ_AUTH_BACKENDS=rabbit_auth_backend_internal


# Performance Settings
RABBITMQ_DISK_FREE_LIMIT=200000000000